.nav1{height:35px;background:#F3F3F3;border-bottom:1px solid #EBEBEB;}
.nav1_left{float:left;line-height:35px;margin-left:200px;color:#2E2E2E;}
.nav1_right{margin-right:200px;}
.nav1_right a{float:right;margin:10px;;color:#2E2E2E;}

/*all*/
.all{width:990px;height:580px;margin:0 auto 0;}

/*header*/
.header{width:990px;height:60px;}
.header marquee{margin-left:30px;line-height:60px;font-size:16px;}

/*container*/
.container{
	color: #FFF;
	width: 990px;
	height: 420px;
	background-color: #000;
	background-repeat: no-repeat;
	background-image: url(../images/cake1.JPG);
}
.login{margin-top:5px;line-height:200%;margin-left:700px;}
.botton{margin-left:30px;}


/*nav2*/
.nav2 {height: 30px;width: 990px;margin:10px auto 0;line-height:30px;text-align:center;}

/*address*/
.address {height: 30px;width: 990px;margin:0px auto;;border-top:1px solid #000;}
.address p{color:#000;line-height:30px;text-align:center;text-indent:30px;}

